body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 1000px;
	background-color: white;
	margin: 50px auto; 
	padding: 0;
	border: 2px solid black;
	box-shadow: 0 3px 3px 3px;
}

h2, p {
	text-align: center;
}
button {
	margin-bottom: 5px;
	margin-left: 440px;
}